<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Infinity-Arcade-Gaming-Site</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.InfinityArcade.Servelet.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGame</display-name>
    <servlet-name>AddGame</servlet-name>
    <servlet-class>com.InfinityArcade.Servelet.AddGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGame</servlet-name>
    <url-pattern>/AddGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditGame</display-name>
    <servlet-name>EditGame</servlet-name>
    <servlet-class>com.InfinityArcade.Servelet.EditGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditGame</servlet-name>
    <url-pattern>/EditGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelGame</display-name>
    <servlet-name>DelGame</servlet-name>
    <servlet-class>com.InfinityArcade.Servelet.DelGame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelGame</servlet-name>
    <url-pattern>/DelGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.InfinityArcade.Servelet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReview</display-name>
    <servlet-name>AddReview</servlet-name>
    <servlet-class>com.InfinityArcade.Servelet.AddReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReview</servlet-name>
    <url-pattern>/AddReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReview</display-name>
    <servlet-name>DeleteReview</servlet-name>
    <servlet-class>com.InfinityArcade.Servelet.DeleteReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReview</servlet-name>
    <url-pattern>/DeleteReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReview</display-name>
    <servlet-name>UpdateReview</servlet-name>
    <servlet-class>com.InfinityArcade.Servelet.UpdateReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReview</servlet-name>
    <url-pattern>/UpdateReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInquire</display-name>
    <servlet-name>AddInquire</servlet-name>
    <servlet-class>com.InfinityArcade.Servelet.AddInquire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInquire</servlet-name>
    <url-pattern>/AddInquire</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInquary</display-name>
    <servlet-name>UpdateInquary</servlet-name>
    <servlet-class>com.InfinityArcade.Servelet.UpdateInquary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInquary</servlet-name>
    <url-pattern>/UpdateInquary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInquary</display-name>
    <servlet-name>DeleteInquary</servlet-name>
    <servlet-class>com.InfinityArcade.Servelet.DeleteInquary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInquary</servlet-name>
    <url-pattern>/DeleteInquary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadReview</display-name>
    <servlet-name>ReadReview</servlet-name>
    <servlet-class>com.InfinityArcade.Servelet.ReadReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadReview</servlet-name>
    <url-pattern>/ReadReview</url-pattern>
  </servlet-mapping>
</web-app>